/* Back Button */
.menu-back {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
  }
  
  .back-button:hover {
    color: #000;
  }
  